@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$flex: flex;

body{
    background-image: url('../images/hogwarts.jpeg');
    background-repeat: no-repeat;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
}