@use './global';

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}  
.close:hover,
.close:focus{
    cursor: pointer;
}
.form-modal label{
    font-size: 12px;
    margin-bottom: 5px;
}
.inputs-grises{
    background-color: #f4f4f4;
    border: none;
    border-bottom: 1px solid #cccccc;
    height: 45px;
    width: 150px;
    padding: 1px 2px;
}
.grupos-inputs{
    display: global.$flex;
    justify-content: space-between;
    margin: 5px;
    flex-wrap: wrap;

    .primer-radio{
        margin-right: 25px;
    }

    .contenedores-labels-radios{
        margin: 4px;
    }
}
.label-input{
    display: global.$flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.labels-radios{
    margin-bottom: 10px;
}
.contenedor-fotografia{
    display: global.$flex;
    margin-top: 25px;
}
.contenedor-boton-guardar{
    text-align: center;
    margin-top: 25px;
}
.boton-submit-guardar{
    background: rgba(0, 0, 0, 0.6);
    border: 4px solid #6B63B5;
    color: #fff;
    padding: 10px 50px;
}
.boton-submit-guardar:hover{
    background: rgba(107, 99, 181, 0.6);
}
.boton-submit-guardar:active{
    background: #6B63B5
}


.botones-flotantes{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 20%;
    button{
        background-color: #6B63B5;
        color: #ffffff;
        padding: 15px;
        border: none;
    }
    .boton-fav{
        border-bottom-left-radius: 15px;
        border-right: 1px solid #403B6D;
        cursor: pointer;
        box-shadow: 0 3px 5px #555555;
    }
    .boton-agregar{
        border-bottom-right-radius: 15px;
        border-left: 1px solid #403B6D;
        cursor: pointer;
        box-shadow: 0 3px 5px #555555;
    }
    .boton-fav div, .boton-agregar div{
        display: inline-flex;
    }
    .boton-fav div:first-child, .boton-agregar div:first-child{
        vertical-align: super;
    }
}
.contenedor-favoritos-miniatura{
    display: global.$flex;
    justify-content: space-between;
}
.botones-absolutos{
    z-index: 2;
}
.separador{
    border-color: #000;
}
.personajes-favoritos{
    background-color: #6B63B5;
    color: #ffffff;
    margin-top: -12px;
    padding: 12px;
    padding-top: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
}
.imagen-foto-miniatura{
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.imagen-eliminar{
    cursor: pointer;
}
.grid-flex{
    display: global.$flex;
    flex-wrap: wrap;
}
.muestra-flex{
    display: global.$flex;
    flex-basis: 45%;
    margin: 2rem 0.5rem;
    justify-content: center;
}

.favorito{
    display: global.$flex;
    justify-content: space-between;
}
.contenedor-foto{
    padding: 15px;
    display: global.$flex;
    justify-content: center;
    align-items: center;
}
.imagen-foto{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}
.card-informacion{
    background-color: #ffffff;
    padding: 25px;
    p{
        margin-top: 0;
        margin-bottom: 5px;
        .datos-mayusculas{
            text-transform: capitalize;
        }
    }
    .nombre{
        font-size: 24px;
        margin: 25px 0;
        font-weight: 600;
    }
    .estado{
        font-weight: 300;
        color: #999999;
    }
}
.card-informacion-no-alive{
    background-color: #cccccc;
}
.gryffindor{
    background: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
}
.slytherin{
    background: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
}
.ravenclaw{
    background: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
}
.hufflepuff{
    background: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
}
.sin-casa{
    background: linear-gradient(135deg, #A4A4A4 0%, #FFFFFF 100%,);
}

@media (max-width: 795px){
    .grupos-inputs{
        justify-content: center;
    }
    .contenedores-labels-radios{
        margin-bottom: 15px !important;
    }
}

@media (max-width: 768px){
    .muestra-flex{
        flex-direction: column;
    }
    .contenedor-foto{
        padding: 25px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    .card-informacion{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .card-informacion > p{
        display: none;
    }
    #root{
        position: relative;
    }
    .botones-flotantes{
        bottom: 0;
        width: 100%;
        margin-bottom: -50px;
        flex-direction: column-reverse;
        align-items: center;
        right: initial;
        top: initial;
        .boton-fav{
            border-radius: initial;
            border-top-left-radius: 15px;
            box-shadow: 0 -5px 5px #555555;
        }
        .boton-agregar{
            border-radius: initial;
            border-top-right-radius: 15px;
            box-shadow: 0 -5px 5px #555555;
        }
        .personajes-favoritos{
            border-bottom-left-radius: initial;
            border-bottom-right-radius: initial;
            padding: 12px 40px;
        }
    }
}

@media (max-width: 430px){
    .muestra-flex{
        width: 45%;
    }
}

@media (min-width: 769px){
    .contenedor-foto{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .card-informacion{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}